<div style="position: relative; background-color: gray;">
  {add-waves}
{{add-waves}}
</div>

<div style="position: relative">
  {add-waves wavesClass="waves-button"}
{{add-waves wavesClass="waves-button"}}
</div>


<div style="position: relative; background-color: gray;">
  <a href="waves#">{add-waves ignorePointer=true}</a>
  {{add-waves ignorePointer=true}}
</div>
